<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Document</title>
</head>
<body>
    <h1>Create New Recipe Post</h1>
    <nav>
        <button><a href="/recipe">Back to Recipe Posts</a></button>  
    </nav>
    <div class="container-wrapper">
    <div class="container">
        <form action="/recipe/" method="POST">
            <label for="name">Name:</label>
            <br>
            <input type="text" name="name" id="name">
            <br>
            <label for="inspiration">Inspiration:</label>
            <br>
            <input type="text" name="inspiration" id="inspiration">
            <br>
            <label for="img">Img:</label>
            <br>
            <input type="text" name="img" id="img">
            <br>
            <label for="ingredients">Ingredients:</label>
            <br>
            <textarea name="ingredients" id="ingredients" cols="45" rows="5"></textarea>
            <br>
            <label for="cooking">How to Make:</label>
            <br>
            <textarea name="cooking" id="cooking" cols="45" rows="5"></textarea>
            <br>
            <input class="submit" type="submit" value="Create Post"/>
        </form>
    </div>
    </div>
    
</body>
</html>