<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Document</title>
</head>
<body>
    <h1>Create New Recipe post</h1>
    <nav>
        <a href="/recipe">Back to Recipe Posts</a>
    </nav>
    <form action="/recipe/" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="inspiration">Inspiration:</label>
        <input type="text" name="inspiration" id="inspiration">
        <br>
        <label for="img">Img:</label>
        <input type="text" name="img" id="img">
        <br>
        <label for="ingredients">Ingredients:</label>
        <textarea name="ingredients" id="ingredients" cols="45" rows="5"></textarea>
        <br>
        <label for="cooking">How to Make:</label>
        <textarea name="cooking" id="cooking" cols="45" rows="5"></textarea>
        <br>
        <input type="submit" value="Create Post"/>
    </form>
    
</body>
</html>