body {
    background-color: rgb(241, 149, 149);
    text-align: center;
}

img {
    height: 600px;
    width: 800px;
    box-shadow: black 8px 0px 8px;
    margin: 10px;
    border-radius: 10px;
}

.header {
    background-image: linear-gradient(red, rgb(241, 149, 149));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

button {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: rgb(240, 130, 130);
    box-shadow: black 8px 0px 8px;
}

a {
    color: black;
}