body {
    background-color: rgb(241, 149, 149);
    text-align: center;
    margin: 8px;
}

@media screen and (min-width:700px) {img {
    min-height: 400px;
    width: 600px;
    box-shadow: black 8px 0px 8px;
    margin: 10px;
    border-radius: 10px;
}
}

img {
    max-height: 275px;
    min-width: 360px;
    box-shadow: black 8px 0px 8px;
    margin: 10px;
    border-radius: 10px;
}


.header {
    background-image: linear-gradient(red, rgb(241, 149, 149));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: rgb(240, 130, 130);
    box-shadow: black 8px 0px 8px;
}

a {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
}