body {
    background-color: rgb(225, 228, 230);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.header {
    background-image: linear-gradient(rgb(245, 166, 245), rgb(225, 228, 230) );
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin: 20px;
    background-color: rgb(245, 166, 245);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

input, textarea {
    width: 90%;
}

.submit {
    width: 100px;
}

.submit:hover {
    background: rgb(245, 166, 245);
    box-shadow: black 8px 0px 8px;
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: rgb(245, 166, 245);
    box-shadow: black 8px 0px 8px;
}

a {
    color: black;
}

a:hover {
    color: white;
}