body {
    background-color: rgb(180, 226, 245);
    text-align: center;
}

img {
    height: 600px;
    width: 700px;
    margin: 10px;
    box-shadow: black 8px 0px 8px;
}

.container {
    margin: 15px;
}

button {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: rgb(3, 3, 156);
    box-shadow: black 8px 0px 8px;
}

a {
    color: black;
}

a:hover {
    color: white;
}